.conteudo {
  z-index: 1;
  display: flex;
  margin-left: 350px;
  margin-top: 50px;
}

.sobre {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  text-align: justify;
}

.coluna {
  display: flex;
  align-items: baseline;
}

.coluna-1 {
  margin-right: 100px;
}

.no-wrap {
  white-space: nowrap;
}

.educação {
  display: flex;
  margin-bottom: 15px;
  align-items: baseline;
}

.educação {
  text-align: justify;
}

.educação1 {
  margin-right: 30px;
  font-weight: bold;
  font-size: 15px;

}

.coluna-2 {
  text-align: justify;
}